*/bin
*/gen
*/.settings
.DS_Store

.gradle
.idea/*
!.idea/runConfigurations

build/
*.iml

*.apk

local.*.properties
local.properties

*/fabric.properties

.bundle/
fastlane/report.xml
fastlane/bundle/