
# General
*/bin
*/gen
*/.settings

# Mac OS X

.DS_Store

# IntelliJ

.idea/*
!.idea/runConfigurations
*.iml

# Build

build/
*.apk

# Gradle

.gradle

# Properties

local.*.properties
local.properties

# Ruby / Fastlane

.bundle/
fastlane/report.xml
fastlane/bundle/
*/fabric.properties

# CI Files

app/gps-key.json